@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;500;700&display=swap');

:root {
    font-size: 62.5%;
}

body {
    color: #f5f5dc;
    background-color: #192a2a;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    background-color: #192a2a;
}

main {
    padding-bottom: 50px;
    border-bottom: 1px solid;
}

a {
    text-decoration: none;
    color:#eeee48;
}

a:hover {
    color:white;
}

/*Font sizes*/
p {
    font-size: 2rem;
}

strong {
    font-size: 2rem;
}

li {
    font-size: 2rem;
}

blockquote {
    font-size: 2.5rem;
}

.page-divider blockquote {
    border-right: 5px solid #eeee48;
    padding-right: 20px;
}

.page-divider-end blockquote {
    border-left: 5px solid #eeee48;
    padding-left: 20px;
}

/*Inställningar desktop*/
/*Section-one*/
.section-one img {
    width: 80%;
}

.section-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
    margin: 1%;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

/*Gridinställningar section.one*/
.section-one p {
    grid-area: 1 / 1 / 2 / 2;
    padding: 2%;
    justify-self: center;
    align-self: center;
}

.image-section-one {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    align-self: center;
}

/*Section-two*/
.section-two {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 18%;
    margin-right: 18%;
}

.page-divider {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page-divider img {
    width: 80%;
    justify-self: center;
    align-self: center;
}

/*Section three*/
.section-three {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 18%;
    margin-right: 18%;
}

.page-divider-end {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page-divider-end img {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.q-section-three {
    grid-area: 1 / 1 / 2 / 2;
}

/*Font-styles*/
.atkinson-hyperlegible-next-h1 {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
}

.atkinson-hyperlegible-next-h2 {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.2rem;
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 5%;
}

.atkinson-hyperlegible-next-h3 {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 5%;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.atkinson-hyperlegible-next-italic {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2.5rem;
}

/*Inställningar tablet*/
@media screen and (min-width: 801px) and (max-width: 1024px) {

    /*Section-one*/
    .section-one img {
        width: 50%;
    }

    .section-one {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2%;
        margin: 1%;
        border-bottom: 1px solid;
        border-top: 1px solid;
    }

    /*Gridinställningar section.one*/
    .section-one p {
        grid-area: 1 / 1 / 2 / 2;
        padding: 2% 10% 2% 10%;
        justify-self: center;
        align-self: center;
    }

    .image-section-one {
        grid-area: 2 / 1 / 2 / 2;
        justify-self: center;
        align-self: center;
    }

    /*Section-two*/
    .section-two {
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 6%;
        margin-right: 6%;
    }

    .page-divider {
        display: grid;
        grid-template-columns: 1fr;
    }

    .page-divider blockquote {
        margin-block-end: 8%;
    }

    .page-divider img {
        width: 60%;
        grid-area: 2 / 1 / 2 / 2;
        justify-self: center;
        align-self: center;
    }

    /*Section three*/
    .section-three {
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .page-divider-end {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5%;
    }

    .page-divider-end img {
        grid-area: 1 / 1 / 2 / 2;
        width: 90%;
        justify-self: center;
        align-self: center;
    }

    .q-section-three {
        grid-area: 2 / 1 / 3 / 2;
    }

    .page-divider-end blockquote {
        margin-block-start: 8%;
    }
}

/*Inställningar mobil*/
@media screen and (max-width: 800px) {

    /*Font sizes*/
    p {
        font-size: 1.6rem;
    }

    strong {
        font-size: 1.5rem;
    }

    li {
        font-size: 1.5rem;
    }

    /*Font-styles*/
    .atkinson-hyperlegible-next-h1 {
        font-family: "Atkinson Hyperlegible Next", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 5rem;
        letter-spacing: 0.2rem;
        text-align: center;
    }

    .atkinson-hyperlegible-next-h2 {
        font-family: "Atkinson Hyperlegible Next", sans-serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.1rem;
        font-size: 3rem;
        margin-bottom: 0;
        margin-top: 5%;
    }

    .atkinson-hyperlegible-next-h3 {
        font-family: "Atkinson Hyperlegible Next", sans-serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.2rem;
        font-size: 2.4rem;
        margin-bottom: 0;
        margin-top: 5%;
    }

    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .atkinson-hyperlegible-next-italic {
        font-family: "Atkinson Hyperlegible Next", sans-serif;
        font-weight: 200;
        font-style: italic;
        font-size: 1rem;
    }

    /*Section-one*/
    .section-one img {
        display: none;
    }

    .section-one {
        display: block;
        grid-template-columns: 1fr;
        padding: 2%;
        margin: 1%;
        border-bottom: 1px solid;
        border-top: 1px solid;
    }

    /*Gridinställningar section.one*/
    .section-one p {
        padding: 2% 8% 2% 8%;
    }

    /*Section-two*/
    .section-two {
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .page-divider {
        display: grid;
        grid-template-columns: 1fr;
    }

    .page-divider blockquote {
        margin-block-end: 8%;
    }

    .page-divider img {
        width: 60%;
        grid-area: 2 / 1 / 2 / 2;
        justify-self: center;
        align-self: center;
    }

    /*Section three*/
    .section-three {
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .page-divider-end {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5%;
    }

    .page-divider-end img {
        grid-area: 1 / 1 / 2 / 2;
        width: 90%;
        justify-self: center;
        align-self: center;
    }

    .q-section-three {
        grid-area: 2 / 1 / 3 / 2;
    }

    .page-divider-end blockquote {
        margin-block-start: 8%;
    }
}